<head>
    <!-- Load c3.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

    <script>
        function startTimer(duration, display) {
            var timer = duration,
                minutes, seconds;
            setInterval(function() {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds + " left in test before page refresh";

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

    </script>
</head>

<body>

    <header>
        <h2>{{title}}</h2>
    </header>

    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/addagent">Add Agent</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </nav>

    <div class="content-container">
        <div class="agents">
            {{#each agents}}
            <div class="agent" data-id="{{this.id}}">
                <h1><a href=/schedule/{{this.id}}>{{this.name}}</a> <span data-purpose="status"></span></h1>

                <div>
                    <div class="statsandcontrols">
                        <table style="width:100%">
                            <col width="170">
                            <tr>
                                <th>
                                    <h2>Details</h2>
                                </th>
                            </tr>
                            <tr></tr>
                            <tr>
                                <th>Location</th>
                                <td>{{this.location}}</td>
                            </tr>
                            <tr>
                                <th>Network Address</th>
                                <td>{{this.ipAddr}}</td>
                            </tr>
                            <tr>
                                <th>
                                    <h2><br>Latest Test</h2>
                                </th>
                            </tr>
                            <tr></tr>
                            <tr>
                                <th>Date</th>
                                <td>{{this.testDate}}</td>
                            </tr>
                            <tr>
                                <th>Throughput (Received)</th>
                                <td>{{this.throughputReceived}}</td>
                            </tr>
                            <tr>
                                <th>Throughput (Sent)</th>
                                <td>{{this.throughputSent}}</td>
                            </tr>
                            <tr>
                                <th>Jitter</th>
                                <td>{{this.jitter}}</td>
                            </tr>
                            <tr>
                                <th>Packet Loss</th>
                                <td>{{this.packetLoss}}</td>
                            </tr>
                            <tr>
                                <th>Latency</th>
                                <td>{{this.latency}}</td>
                            </tr>
                        </table>

                        <nav>
                            <h2><br>Controls</h2>
                            <button data-action="run-tests">Run Both Tests (TCP & UDP)</button>
                            <button data-action="run-test-tcp">Run Throughput Test (TCP)</button>
                            <button data-action="run-test-udp">Run Jitter & Packet Loss Test (UDP)</button>
                            <button data-action="delete">Delete Agent</button>
                        </nav>
                    </div>

                    <div class="graphcontainer">
                        <div class="graphTCP" data-agent-tcp-id="{{this.id}}"></div>
                    </div>

                    <div class="graphcontainer">
                        <div class="graphUDP" data-agent-udp-id="{{this.id}}"></div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <footer class="footer ">© Ben Adamson</footer>

    <script src="/javascripts/agent.js"></script>
    <script src="/javascripts/graphs.js"></script>
    <script src="/javascripts/graphsUDP.js"></script>
</body>
