<head>
    <!-- Load c3.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>


    <script>
        function runTest(agentID) {
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.addEventListener('readystatechange', function() {
                if (this.readyState == 4) {
                    document.getElementById('demo').innerHTML = 'this.responseText';
                }
            });
            xmlhttp.open('GET', '/iperf/' + agentID, true);
            xmlhttp.send();
        }

    </script>

    <script>
        function runTestUDP(agentID) {
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.addEventListener('readystatechange', function() {
                if (this.readyState == 4) {
                    document.getElementById('demo').innerHTML = 'this.responseText';
                }
            });
            xmlhttp.open('GET', '/iperfudp/' + agentID, true);
            xmlhttp.send();
        }

    </script>

    <script>
        function deleteAgent(agentID) {
            if (confirm('Are you sure you want to delete this agent? \nAgents cannot be undeleted and will have to be re-added!')) {
                var xmlhttp;
                xmlhttp = new XMLHttpRequest();

                xmlhttp.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        document.getElementById('demo').innerHTML = this.responseText;
                    }
                };
                xmlhttp.open('GET', '/deleteagent/' + agentID, true);
                xmlhttp.send();
                location.reload();
            }

        }

    </script>

</head>

<body>

    <header>
        <h2>{{title}}</h2>
    </header>

    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <!--            <li><a href="/agents">Agents</a></li>-->
            <li><a href="/addagent">Add Agent</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </nav>

    <div class="content-container">

        {{#each agents}}
        <div class="agents">
            <div class="agent">
                <h2>{{this.name}}</h2>

                <div class="stats">
                    <table style="width:100%">
                        <col width="120">
                        <tr>
                            <th>
                                <h3>Statistics</h3>
                            </th>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{this.location}}</td>
                        </tr>
                        <tr>
                            <th>Network Address</th>
                            <td>{{this.ipAddr}}</td>
                        </tr>
                        <tr>
                            <th>
                                <br>
                                <em>Latest Test</em>
                            </th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <th>Throughput</th>
                            <td>N/A Mbps</td>
                        </tr>
                        <tr>
                            <th>Latency</th>
                            <td>N/A ms</td>
                        </tr>
                        <tr>
                            <th>Jitter</th>
                            <td>N/A ms</td>
                        </tr>
                        <tr>
                            <th>Packet Loss</th>
                            <td>N/A %</td>
                        </tr>
                    </table>
                </div>

                <div class="controls">
                    <h3>Controls</h3><br>
                    <button id="runTest" onclick="runTest('{{this.id}}')">Run Throughput Test (TCP)</button> <br> <br>
                    <button id="runTestUDP" onclick="runTestUDP('{{this.id}}')">Run Jitter & Packet Loss Test (UDP)</button> <br> <br>
                    <button id="deleteAgent" onclick="deleteAgent('{{this.id}}')">Delete Agent</button>
                    <p id="demo"></p>
                </div>

                <div class="graphcontainer">
                    <div class="graph" data-agent-id="{{this.id}}">
                    </div>
                </div>
            </div>
        </div>
        {{/each}} {{#each testDate}} {{this}} {{/each}}<br> {{#each throughput}} {{this}} {{/each}}<br>

    </div>
    <footer class="footer ">© Ben Adamson</footer>

    <script src="/javascripts/graphs.js"></script>
</body>
