<head>
    <!-- Load c3.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script>
        function runTest(agentID) {
            var xmlhttp;
            xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    document.getElementById("demo").innerHTML = this.responseText;
                }
            };
            xmlhttp.open("GET", "/iperf/" + agentID, true);
            xmlhttp.send();
        }

    </script>
</head>

<body>

    <header>
        <h2>{{title}}</h2>
    </header>

    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/agents">Agents</a></li>
            <li><a href="/addagent">Add Agent</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </nav>

    <div class="content-container">

        {{#each agents}}

        <div class="agents">
            <div class="agent">
                <h2>{{this.name}}</h2>

                <div class="stats">
                    <table style="width:100%">
                        <col width="120">
                        <tr>
                            <th>
                                <h3>Statistics</h3>
                            </th>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{this.location}}</td>
                        </tr>
                        <tr>
                            <th>IP Address</th>
                            <td>{{this.ipAddr}}</td>
                        </tr>
                    </table>
                </div>

                <div class="controls">
                    <button id="runTest" onclick="runTest('{{this.id}}')">Run Throughput Test</button>
                    <p id="demo"></p>
                </div>

                <div class="graph">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="agents">
            <div class="agent">
                <h2>Comments</h2>
                <div class="stats">
                    <table style="width:100%">
                        <col width="120">
                        <tr>
                            <th>
                                <h3>Example Statistics Box</h3>
                            </th>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>ONLINE</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>EDGE</td>
                        </tr>
                        <tr>
                            <th>Last Test</th>
                            <td>13:58</td>
                        </tr>
                        <tr>
                            <th>IP Address</th>
                            <td>123.123.123.123</td>
                        </tr>
                        <tr>
                            <th></th>
                        </tr>
                        <tr>
                            <th>
                                <h3>Latest Test</h3>
                            </th>
                        </tr>
                        <tr>
                            <th>Speed</th>
                            <td>67 Mbps</td>
                        </tr>
                        <tr>
                            <th>Ping</th>
                            <td>4 ms</td>
                        </tr>
                        <tr>
                            <th>Jitter</th>
                            <td>0 ms</td>
                        </tr>
                        <tr>
                            <th>Packet Loss</th>
                            <td>0%</td>
                        </tr>
                    </table>
                </div>
                <div class="commentbox">
                    <form method="post" action="/create">
                        <label for="comment">Got something to say:</label>
                        <input type="text" name="comment" value="comment">
                        <input type="submit" value="Save">
                    </form>

                    {{#each comments}}
                    <li>{{this.title}}</li>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
    <footer class="footer ">© Ben Adamson</footer>

    <script>
        var chart = c3.generate({
            bindto: '#chart',
            data: {
                columns: [
                    ['data1', 100, 200, 150, 300, 200],
                    ['data2', 400, 500, 250, 700, 300],
                ]
            }
        });

        console.log("Test");

    </script>

</body>
