<head>

</head>

<body>

    <header>
        <h2>{{title}}</h2>
    </header>

    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/addagent">Add Agent</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </nav>

    <div class="content-container">
        <div class="agents">
            <div class="agent">
                <h1>{{agent.name}} - Schedule</h1>
                <br>
                <h2>Current Schedule:</h2>
                {{#each schedules}}
                <ul>
                    <li>
                        <span>
                            <b>Type:</b> {{this.type}}, <b>Schedule:</b> {{this.schedule}}
                            <form method="post" action="/unschedule/{{this.id}}">
                                <input id="unschedule" type="submit" value="Delete Schedule" />
                            </form>
                        </span>
                    </li>
                </ul>

                {{/each}} {{{noSchedule}}}
                <br>

                <h2>Add Schedule:</h2>
                <form method="post" action="/schedule">
                    <input type="hidden" name="agentid" value="{{agent.id}}">

                    <label for="schedule_type">Schedule:</label>
                    <select id="schedule_type">
                        <option value="5">05 minute intervals</option>
                        <option value="10">10 minute intervals</option>
                        <option value="30">30 minute intervals</option>
                        <option value="advanced">Advanced Setup</option>
                    </select>

                    <label for="schedule" id="scheduleLabel">Schedule:</label>
                    <input type="text" name="schedule" id="schedule" value="*/5 * * * *"> <br>

                    <label for="type">Test type:</label>
                    <select name="type">
                        <option value="tcpudp">Run Both</option>
                        <option value="tcp">TCP</option>
                        <option value="udp">UDP</option>
                    </select>

                    <input type="submit" value="Save">
                </form>
                <br><br>
                <h2>Scheduling Information:</h2>
                Scheduling uses a cron-style format. For more information please <a href=https://www.npmjs.com/package/node-schedule#cron-style-scheduling>read the plugin documentation</a>.<br>
                <h3>Format:</h3><br>
                <p>
                    * * * * * * <br> ┬ ┬ ┬ ┬ ┬ ┬ <br> │ │ │ │ │ | <br> │ │ │ │ │ └ day of week (0 - 7) (0 or 7 is Sun) <br> │ │ │ │ └───── month (1 - 12) <br> │ │ │ └────────── day of month (1 - 31) <br> │ │ └─────────────── hour (0 - 23) <br> │ └──────────────────── minute (0 - 59) <br> └───────────────────────── second (0 - 59, OPTIONAL)
                </p>
                <br> For example, to run a test every five minutes use "*/5 * * * *"
            </div>
        </div>
    </div>
    <footer class="footer ">© Ben Adamson</footer>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("schedule").readOnly = true;
            document.getElementById("schedule").style.visibility = 'hidden';
            document.getElementById("scheduleLabel").style.visibility = 'hidden';
        });

        document.getElementById('schedule_type').onchange = function() {
            if (this.value == 'advanced') {
                document.getElementById("schedule").readOnly = false;
                document.getElementById("schedule").style.visibility = 'visible';
                document.getElementById("scheduleLabel").style.visibility = 'visible';
            } else {
                document.getElementById("schedule").style.visibility = 'hidden';
                document.getElementById("scheduleLabel").style.visibility = 'hidden';
            }

            if (this.value == '5') document.getElementById("schedule").value = '*/5 * * * *';
            else if (this.value == '10') document.getElementById("schedule").value = '*/10 * * * *';
            else if (this.value == '30') document.getElementById("schedule").value = '*/30 * * * *';
        };

    </script>
</body>
